<section>
    <div class="team-card">
        <div class="team-card__info">
            <h1><%= @team.full_name %></h1>
            <p class="team-card__data">Tricode: <%= @team.abbreviation %></p>
        </div>
    </div>
</section>