.players {
    display: grid;

    &__header {
        color: white;
        margin: 0.5rem;
    }

    &__filters {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }

    &__table {
        width: 100%;

        a.sort_link {
            color: white;
        }

        a.sort_link:visited {
            color: white;
        }
    }
}

.player {
    display: grid;
}