.players {
    display: grid;

    &__header {
        color: white;
        margin: 0.5rem;
    }

    &__table {
        padding: 1rem;
        background-color: white;
        border-radius: 0.5rem;

        td {
            padding: 0.25rem;
        }

        thead tr {
            color: white;
            background-color: var(--hockey-db-blue);
        }

        tbody tr {
            color: black;
            background-color: #DBEBF2;
        }
    }
}